/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.page-header img {
    width: 100%;
}


.dropdown-menu {
  position: relative;
  float: none;
  width: auto;
  margin-top: 0px;
  background-color: transparent;
  border: 0px none;
  box-shadow: none;
}

.dropdown-menu li a {
  color: #777;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: #555;
  background-color: #E7E7E7;
}
